<h1>Welcome to Bloccit</h1>
<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <!-- <p>!مرحبا بكم في صفحتي</p><br> -->
  <!-- <p>欢迎来到我的网页!</p><br> -->
  <!-- <p>Welcome to my webpage!</p><br> -->
  <!-- <p>Bienvenue sur ma page Web!</p><br> -->
  <!-- <p>Herzlich Willkommen Sie auf meiner Webseite!</p><br> -->
  <!-- <p>Καλώς ήρθατε στην ιστοσελίδα μου!</p><br> -->
  <!-- <p>!ברוכים הבאים לאתר האינטרנט שלי</p><br> -->
  <!-- <p>अपने वेबपेज के लिए आपका स्वागत है!</p><br> -->
  <!-- <p>Benvenuti nel mio sito Web!</p><br> -->
  <!-- <p>Velkommen til min webside!</p><br> -->
  <!-- <p>Добро пожаловать на мою веб-страницу!</p><br> -->
  <!-- <p>¡Bienvenido a mi página!</p> -->
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>
