<h1>New Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Posting guidelines</P>
    <ul>
      <li>Please refrain from foul language and/or disrespecful behavior.</li>
      <li>Please do not spam.</li>
      <li>Only humans are allowed.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post} %>
  </div>
</div>
