// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFCC00;
}

.post{
  color: #99CC99;
  margin: 10px 10px 10px 150px;
}

.pretty{
  background-color: #c7a379;
  font-size: 30 px;
  height: 200 px;
  margin: 10px 0px 10px 130px;
}

.lower-elements{
  margin: 10px 0px 10px 130px;
}

.cool {
  background-color: #a7b39b;
  font-size: 30 px;
  height: 200 px;

}

h1 {
  color: #644d3c;
  text-align: center;
}

p {
  color: #644d3c;
}
