// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post{
  color: #99CC99;
  width: auto;
}

.post-elements{
  margin: 10px 10px 10px 150px;
}

.title{
  background-color: #c7a379;
  font-size: 30 px;
  height: 57px;
}

.body{
  background-color: #a7b39b;
  font-size: 30 px;
}

h1 {
  color: #644d3c;
}

p {
  color: #644d3c;
}
