// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFCC00;
}

.media-heading {
  color: #99CC99;
  margin: 10px 10px 10px 150px;
}

.pretty {
  background-color: #99CCFF;
  font-size: 30 px;
  height: 200 px;
}

.cool {
  background-color: #FFCC00;
  font-size: 30 px;
  height: 200 px;
}

h1 {
  color: #232069;
  text-align: center;
}

p {
  color: #232069;
}
